.scale-on-hover {
  transition: transform .2s ease-in-out
}

.scale-on-hover:hover {
  box-shadow: 0 10px 10px #00000026!important;
  transform: scale(1.05)
}

a.router-link-exact-active.nav-link {
  background-color: rgb(255 255 255 / 10%);
  border: 1px solid rgb(255 255 255 / 6%);
  border-radius: 4px;
}