@import "tailwindcss";
@import "@nuxt/ui";

:root {
  background-color: var(--ui-color-neutral-100);
}

.dark {
  background-color: var(--ui-color-neutral-950);
}

html, body {
  background: linear-gradient(rgb(0 0 0 / 95%), rgb(8 14 31 / 70%), rgb(0 0 0 / 195%)), url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  object-fit: contain;
}

.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}