@import "tailwindcss";
@import "@nuxt/ui";

:root {
  background-color: var(--ui-color-slate-100);
}

.dark {
  background-color: var(--ui-color-slate-950);
}

body {
  background: linear-gradient(rgba(0,0,0,.95), rgba(31, 8, 8, 0.8), rgba(0,0,0,1.95)), url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  object-fit: contain;
}